In [1]:
#Assignment 1
#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
# * - Expression
# hello - Value
# -87.8  - Value
# - Expression
# / - Expression
# + - Expression

In [5]:
# 2. What is the difference between string and variable?
# String is a data type which is enclosed by single quotes or double quotes. Variable is a name given to identfier where data can be stored. string data type can be stored in variable.
# Eg: x="Ram" - x is variable and "Ram" is string data type which is stored in variable x
x="Ram"
print(type(x))

<class 'str'>

In [4]:
#3. Describe three different data types.
# 3 data types are - Integer, float and string
# For integer data type is represented by "int" which is a number without decimal values. Eg: 2, 5, 100, 35, 1265
# For float data type is represented by "float" which is number with decimal values. Eg: 2.4, 4.5, 101.23, 3000.23, 18236.22
# For string data type is represented by "str" which is collection of characters enclosed in single quotes or double quotes. Eg: "John", "xyz123", "My name is Suresh", " 1, 2, 3, a, b, c"
x=1
y=2.2
z="Bhupi"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
#4. What is an expression made up of? What do all expressions do?
# Expression is a contains operators and operands which produces some result/value. It is a combination of operator and operands.
# For example : a = a + 6
a= 20
b= a + 6
print(b)
# In the above example b = a + 6 is an expression. + sign is addition operator. 6 will be added to a and result will be stored in b.

26

In [8]:
# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
# Statement is used to declare or create variables. Expression is used to produce some values or result using Python intrepreter. Expressions are statements as well.
x= 19 # Statement
y = x + 1 # Expression where we are using arithmatic operator to add 1 to variable x and store the result in variable y.

In [9]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

In [10]:
#7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

In [16]:
#8. Why is eggs a valid variable name while 100 is invalid?
# eggs is variable starts with alphabet with no special character other than underscore. variables are combination of alphabets (both uppercase and lower case), numbers and underscore
# 100 is invalid because it is starting with number. Variable starting with numbers are invalid. They should start with alphabets or underscore
eggs = 1
_100 = 2
print(eggs)
print(_100)
print(100)

1
2
100

In [17]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?
# Int() will evaluate integer value. float() will evaluate floating value. str() will evaluate string value.

In [23]:
#10. Why does this expression cause an error? How can you fix it?
#'I have eaten ' + 99 + ' burritos' # 99 is a integer so we are getting. we need change 99 data type to string
print('I have eaten ' + '99' + ' burritos')
print('I have eaten ' + str(99) + ' burritos')

I have eaten 99 burritos
I have eaten 99 burritos