In [ ]:
#1. What exactly is []?
# It is an empty list which contains no values.

In [ ]:
# 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
spam=[2,4,6,8,10]
spam[2] = "hello" #Index value of third will be 2
spam

[2, 4, 'hello', 8, 10]

In [ ]:
# Lets pretend the spam includes the list ['a','b','c','d'] for the next three queries.
# 3. What is the value of spam[int(int('3' * 2) / 11)]?
spam=['a','b','c','d']
spam[int(int('3' * 2) / 11)]
print(int('3'))
print(int('3'*2))

3
33

In [ ]:
# 4. What is the value of spam[-1]?
spam=['a','b','c','d']
spam[-1]

'd'

In [ ]:
# 5. What is the value of spam[:2]?
spam=['a','b','c','d']
spam[:2]

['a', 'b']

In [ ]:
# Let's pretend bacon has the list [3.14,'cat', 11, 'cat',True] for the next three questions.
# 6. What is the value of bacon.index('cat')?
bacon = [3.14,'cat', 11, 'cat',True]
bacon.index('cat')

1

In [ ]:
# 7. How does bacon.append(99) change the look of the list value in bacon?
bacon = [3.14,'cat', 11, 'cat',True]
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
# 8. How does bacon.remove('cat') change the look of the list in bacon?
bacon = [3.14,'cat', 11, 'cat',True]
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True]

In [ ]:
# 9. What are the list concatenation and list replication operators?
# + is list concatenation operator and * is list replication operator
list1=[2,3]
list2=[4,5]
print(list1+list2) # Concatenation
list3=['a'*3] # Replication
print(list3)

[2, 3, 4, 5]
['aaa']

In [ ]:
# 10. What is difference between the list methods append() and insert()?
# append() will add the object at the end of list. insert() will add anywhere in the list i.e. whatever index number mentioned it will insert accordingly.
bacon = [3.14,'cat', 11, 'cat',True]
bacon.append(99) # Added object at the end of the list
print(bacon)
bacon.insert(1,'dog') # adding the object at index number 1
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]
[3.14, 'dog', 'cat', 11, 'cat', True, 99]

In [ ]:
# 11. What are the two methods for removing items from a list?
# There are 3 ways we can remove the items.
# One is remove() which removes the object from the first occurence.
# Second pop() which removes the object from the list as per mentioned index number and return the value of the index
# Third del will removes the object from the list same as pop but it will not return the value.
bacon = [3.14,'cat', 11, 'cat',True]
bacon.remove('cat') # Removes object from the first occurence
print(bacon)
print(bacon.pop(1)) # removing the object at the list and returns the value of the index
print(bacon)
del bacon[2] # it will remove value of index number 2
print(bacon)

[3.14, 11, 'cat', True]
11
[3.14, 'cat', True]
[3.14, 'cat']

In [ ]:
# 12. Describe how list values and string values are identical.
# Both lists and strings can be passed to len()
# Both have indexes and slices
# Both can be used in for loops
# Both can be concatenated or replicated
# Both can be used with the in and not in operators

In [ ]:
# 13. What's the difference between tuples and lists?
# Tuple is collection of ordered data and list is also collection of ordered data
# Tuples are declared within parenthesis and lists are declared within square brackets
# Tuples are immutable and lists are mutable
# Tuples cannot sorted though ordered data and lists can be sorted in ascending or descending order

In [6]:
# 14. How do you type a tuple value that only contains the integer 42?
tuple = (42)
print(tuple)
tuple1 = (42,) # Comma is mandatory
print(tuple1)

42
(42,)

In [2]:
# 15. How do you get a list value's tuple form? How do you get a tuple value's list form?
# The tuple() and list() functions, respectively
my_list = [2,7]
atuple = tuple(my_list)
print("Tuple is : ",atuple)
my_tuple = (3,6)
alist = list(my_tuple)
print("List is : ",alist)

Tuple is :  (2, 7)
List is :  [3, 6]

In [4]:
# 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
# They contain references to list values

In [3]:
# 17. How do you distinguish between copy.copy() and copy.deepcopy()?
# The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list.
# That is, only copy.deepcopy() will duplicate any lists inside the list.

TypeError: ignored